html, body {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	/*background-color: rgba(50,200,50, 0.3);*/
	background-color: white
}

#kuan {
	background-color:whitesmoke;
	color:grey;
	border-bottom-left-radius:100px;
	border-top-right-radius:100px;
}
#kuan:hover{
	background-color: steelblue;
	color:whitesmoke;
}
#ming {
	background-color:whitesmoke;
	color:grey;

	border-top-left-radius:80px 150px;
	border-bottom-right-radius:80px 150px;
	border-bottom-left-radius:80px 150px;
	border-top-right-radius:80px 150px;
}
#ming:hover{
	background-color: teal;
	color:whitesmoke;
}
#liang {
	background-color:whitesmoke;
	color:grey;
	border-top-left-radius:100px;
	border-bottom-right-radius:100px;
}
#liang:hover {
	background-color: orange;
	color:whitesmoke;
}
.personal {
	text-align:center;
	cursor: pointer;
}
.personal h1 {
	font-size:250px;
}

@media screen and (max-width:990px) {
	.personal h1{
		font-size: 100px;
	}
}

@media screen and (max-width:767px) {
	.personal h1{
		font-size: 250px;
	}
	#kuan, #ming, #liang {
		border-top-left-radius:0px 0px;
		border-bottom-right-radius:0px 0px;
		border-bottom-left-radius:0px 0px;
		border-top-right-radius:0px 0px;
	}
} 